<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.northeastern.numad.virtual.treasure"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
 	<uses-feature android:name="android.hardware.camera" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThingsToDoActivity" >
        </activity>
        <activity android:name=".GameActivity" >
        </activity>
        <activity android:name=".CheckMessagesActivity" >
        </activity>
        <activity android:name=".ListCheckMessagesActivity" >
        </activity>
        <activity android:name=".CheckMessageMapActivity" >
        </activity>
        <activity android:name=".ActivityMaps" >
        </activity>
        <activity android:name=".ActivityCamera" 
            android:screenOrientation="landscape"
     		android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
    </application>

</manifest>